<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Posts</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/posts">
        <ion-icon slot="start" name="list"></ion-icon>
        List
      </ion-button>
      <ion-button routerLink="/posts/create" *ngIf="isAuthenticated">
        <ion-icon slot="start" name="add"></ion-icon>
        New
      </ion-button>
      <ion-button routerLink="/auth/signup" *ngIf="!isAuthenticated">
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
      <ion-button routerLink="/auth/login" *ngIf="!isAuthenticated">
        <ion-icon slot="icon-only" name="log-in"></ion-icon>
      </ion-button>
      <ion-button (click)="onLogout()" *ngIf="isAuthenticated">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-title>Kasabe.Page.html</ion-title> -->
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
